extends layout
block content
    .row
        .x_panel
            .x_title
                h2
                    | Table design
                    small Custom design
                ul.nav.navbar-right.panel_toolbox
                    li
                        a.collapse-link
                            i.fa.fa-chevron-up
                    li.dropdown
                        a.dropdown-toggle(role='button', aria-expanded='false', href='#', data-toggle='dropdown')
                            i.fa.fa-wrench
                        ul.dropdown-menu(role='menu')
                    li
                        a
                            i.fa.fa-close
                .clearfix
            .x_content
                p
                    | Add class
                    code bulk_action
                    |  to table for bulk actions options on row select
                .table-responsive
                    table.table.table-striped.jambo_table.bulk_action
                        thead
                            tr.headings
                                th
                                    .icheckbox_flat-green(style='position: relative;')
                                        input#check-all.flat(style='position: absolute; opacity: 0;', type='checkbox')
                                        ins.iCheck-helper(style='background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;')
                                th.column-title(style='display: table-cell;') Invoice
                                th.column-title(style='display: table-cell;') Invoice Date
                                th.column-title(style='display: table-cell;') Order
                                th.column-title(style='display: table-cell;') Bill to Name
                                th.column-title(style='display: table-cell;') Status
                                th.column-title(style='display: table-cell;') Amount
                                th.column-title.no-link.last(style='display: table-cell;')
                                    span.nobr Action
                                th.bulk-actions(style='display: none;', colspan='7')
                                    a.antoo(style='color:#fff; font-weight:500;')
                                        | Bulk Actions (
                                        span.action-cnt 1 Records Selected
                                        |  )
                                        i.fa.fa-chevron-down
                        tbody
                            if members
                                for member in members
                                    tr
                                        td=member.user().attributes.first_name
                                        td=member.attributes.application_date

                            tr.even.pointer
                                td.a-center
                                    .icheckbox_flat-green(style='position: relative;')
                                        input.flat(name='table_records', style='position: absolute; opacity: 0;', type='checkbox')
                                        ins.iCheck-helper(style='background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;')
                                td 121000040
                                td May 23, 2014 11:47:56 PM
                                td
                                    | 121000210
                                    i.success.fa.fa-long-arrow-up
                                td John Blank L
                                td Paid
                                td.a-right.a-right $7.45
                                td.last
                                    a(href='#') View
                            tr.odd.pointer
                                td.a-center
                                    .icheckbox_flat-green(style='position: relative;')
                                        input.flat(name='table_records', style='position: absolute; opacity: 0;', type='checkbox')
                                        ins.iCheck-helper(style='background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;')
                                td 121000039
                                td May 23, 2014 11:30:12 PM
                                td
                                    | 121000208
                                    i.success.fa.fa-long-arrow-up
                                td John Blank L
                                td Paid
                                td.a-right.a-right $741.20
                                td.last
                                    a(href='#') View
