doctype html
head
    title Spark by Midburn
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Spark by Midburn' )

    //-     Styles      -//
    block styles
        link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css")
        if (language === 'he')
            link(rel="stylesheet", href="/node_modules/bootstrap-rtl/dist/css/bootstrap-rtl.css")
        link(rel='stylesheet', href='/node_modules/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/node_modules/ui-select/dist/select.min.css')
        link(rel='stylesheet', href='/node_modules/selectize.js/dist/css/selectize.default.css')
        link(rel="stylesheet", href="/stylesheets/main.scss" )

body( style='direction:#{languageDir}', lang=language, dir='#{languageDir}')
    div#cover
    block wrapper
    //-     Scripts     -//
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src='/node_modules/bootstrap-validator/dist/validator.min.js')
    script(src='/node_modules/bootstrap-table/dist/bootstrap-table.min.js')
    if (language === 'he')
        script(src='/node_modules/bootstrap-table/dist/locale/bootstrap-table-he-IL.min.js')

    // External packages
    script(src='/node_modules/sweetalert/dist/sweetalert.min.js')
    script(src='/node_modules/lodash/lodash.js')
    script(src='/node_modules/moment/moment.js')

    // Angular dependencies
    script(src="/node_modules/angular/angular.min.js")
    script(src="/node_modules/angular-animate/angular-animate.min.js")
    script(src="/node_modules/angular-sanitize/angular-sanitize.min.js")
    script(src="/node_modules/ui-select/dist/select.min.js")
    // Spark scripts
    script(src="/scripts/ng_app.js")
    script(src="/scripts/services/camps_service.js")
    script(src="/scripts/services/suppliers_service.js")
    script(src="/scripts/cards.js")
    script(src="/scripts/camps.js")
    script(src="/scripts/controllers/camp_manage.js")
    script(src="/scripts/controllers/camp_edit.js")
    script(src="/scripts/controllers/camp_join.js")
    script(src="/scripts/suppliers.js")
    script(src="/scripts/controllers/supplier_manage.js")
    script(src="/scripts/controllers/supplier_edit.js")
    script(src="/scripts/controllers/supplier_entries.js")

    script(src="/scripts/events.js")
    script(src="/scripts/directives/file_upload_directive.js")
    script(src="/scripts/services/file_upload_service.js")
    script(src="/scripts/services/s3-service.js")
    script(src="/scripts/directives/BucketViewer.js")

    block scripts
