extends layout
block wrapper
    div(class=language == 'he' ? 'rtl' : undefined)
    if (user.newNav)
        include top-nav-new
    else
        include top-nav
    page.main.container
        #ajax_indicator.hide
        // if (breadcrumbs !== undefined)
        //    include crumbs

        block content
    include footer
