extends layout
block wrapper
    include top-nav
    page.main.container
        #ajax_indicator.hide
        if (breadcrumbs !== undefined)
            include crumbs

        block content
    include footer
