extends ../../includes/page
block content
    .camps.camp_index
        section.jumbotron
            .container
                h1.jumbotron-heading=t('camps:dash.title')
                p.lead.text-muted=t('camps:dash.desc')
                div.block-center
                    p You are just a user!