extends ../../includes/page
block content
    - var filteredCamps = ['art_installation'];
    input.hidden.meta(id='meta__lang', value='#{language}')
    .container-fluid(class=language == 'he' ? 'rtl' : undefined)
        h1.jumbotron-heading=t('camps:dash.title')
        p.lead.text-white=t('camps:dash.desc')
        hr
        if (language == 'he')
            h2 לא ניתן להצטרף למחנות או מיצבים באירוע זה.
        else
            h2 Joining camps is disabled for this event.
