extends ../../includes/page
block content
    - var filteredCamps = ['art_installation'];
    input.hidden.meta(id='meta__lang', value='#{language}')
    .container-fluid(class=language == 'he' ? 'rtl' : undefined)
        if (language == 'he') 
            h1 לא ניתן להצטרף למחנות או מיצבים באירוע זה.
        else 
            h1 Joining camps is disabled for this event.