extends ../../includes/page
block content
    .row.camps.choose_name
        .well
            h2=t('camps.new.header_title')
            h3=t('camps.new.name_choosing_title')
        .col-md-4.col-md-offset-4
            .form-group
                label=t('camps.new.name_en')
                span.indicator
                input(type="text", class="form-control", name="camp_name_en", required)
            .form-group
                a(id="check_camp_name", class="btn btn-info btn-block disabled")=t('camps.btn_continue')
