extends ../../includes/page
block content
    .camps.stats
        section
            .heading.card.row
                h2=t('Camp Statistics')
                .form-group
                    input.form-control(type="text", placeholder="Search camp", autofocus)
            table.table.table-striped
                thead
                    tr
                        th #
                        th Name (EN)
                        th Name (HE)
                        th.hidden-xs Last update
                        th.hidden-xs Created at
                        th.admin-edit Edit
                        th.admin-remove Remove
                tbody
