extends ../../includes/page
block content
    .camps.stats
        section
            .heading
                h3=t('Camp Statistics')
        table.table.table-striped
            thead
                tr
                  th #
                  |                 
                  th Camp Name (EN)
                  |                 
                  th Camp Name (HE)
                  |                 
                  th Created at
            tbody
              tr
                td 1
                |                 
                td The stranglers
                |                 
                td hebrew name
                |                 
                td 21-07-2015
              tr
                td 2
                |                 
                td Imaginary dragon
                |                 
                td hebrew name
                |                 
                td 21-07-2015
              tr
                td 3
                |                 
                td Karma is a bitch
                |                 
                td hebrew name
                |                 
                td 21-07-2015
