doctype html(lang="he")
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type='text/css').
        .wrapper {
          max-width: 320px
        }
body
    .wrapper
        | #{camp.name}
        | #{user.name}
        | #{user.email}
        | link to camp management, requests panel