@import url( 'https://fonts.googleapis.com/css?family=Cabin|Rubik');
@import './camps_mobile';

body {
    font-family: 'Cabin', sans-serif;
}

body[lang='he'] {
    font-family: 'Rubik', sans-serif;
}

body[lang="he"] .dash-panel a:after {
    left: -4px;
}

body[lang="en"] {
    .camps {
        .card {
            padding: 40px 120px 40px 40px;
        }

        .dash-panel a:after {
            left: 4px;
        }
    }
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

body .dash-panel a:after {
    content: "»";
    padding: 0 5px;
    position: relative;
}

body[lang="he"] .dash-panel a:after {
    left: -4px;
}

body[lang="en"] .dash-panel a:after {
    left: 4px;
}

.card {
    padding: 40px;
    margin-bottom: 2em;
    background-color: $card-bg;
    border-radius: 2px;
    position: relative;

    .desc{
      p {
        overflow-wrap:break-word;
      }
    }

    &__shad {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    &__padding--even {
        padding: 20px !important;
    }

    h2:after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background: #6772e5;
        margin: 15px 0;
    }

    input[name='camp_name_en'] {
        padding-left: 40px;

        &.error {
            border-color: red;
        }
    }

    span.indicator {
        position: absolute;
        top: auto;
        right: auto;
        left: 10px;
        bottom: 4px;

        .glyphicon {
            font-size: 18px;
        }

        .glyphicon-remove {
            color: red;
        }

        .glyphicon-ok {
            color: green;
        }
    }
}

.camps {
    .controls {
        margin-bottom: 2em;
    }

    .panel {
        h3 {
            text-align: center;
        }
    }

    input[name='camp_name_en'] {
        padding-left: 40px;

        &.error {
            border-color: red;
        }
    }
}

body[lang="en"] {
    .camps {
        .card {
            input[name='camp_name_en'] {
                padding-left: 12px;
            }

            span.indicator {
                left: auto;
                right: 10px;
            }
        }
    }
}

.multi-select-option {
    margin-top: 3px;

    span {
        margin: 0 3px;
    }
}

.multi-select-option-other {
    input {
        height: 30px;
        margin: 0 3px;
        padding: 2px 5px;
    }
}
// Animations
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes nudge {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.anim-bouncy {
    margin-top: 1em;
    animation-name: nudge;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

.camps {
    // Card transition
    .cards--wrapper {
        border-radius: 4px;
        display: block;
        visibility: hidden;
        background: $card-bg;
        color: $card-text;
        margin-bottom: 2em;
        position: relative;
        overflow: hidden;

        &:after {
            content: '.';
            display: block;
            visibility: hidden;
        }
        .overdue {
            background: $light-red;
        }
        .card {
            width: 100%;
            transition: 300ms;
            position: absolute;
            top: 0;
            left: 0;
        }

        #long_content{
            max-width: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .card.card-hide {
            left: 3000px;
            visibility: hidden;
        }
    }

    .camp_edit {
        textarea {
            max-height: 34px;
            resize: none;
        }

        input,
        textarea {
            margin: 1em 0 1.5em;
            border: 0;
            border-bottom: 3px solid #7795f8;
            border-radius: 0;
            box-shadow: none;

            &:active,
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.clickable {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

th .glyphicon {
    font-size: 10px;
}

button.card--close {
    position: absolute;
    top: 10px;
    right: 0;
}

button.card--close--he {
    position: absolute;
    top: 10px;
    left: 0;
}

.input-group {
    margin-bottom: 15px;
}

textarea {
    max-height: 34px;
}

textarea:focus {
    min-height: 100px;
}

.bg {
    &__green {
        background: $green;
    }

    &__red {
        background: $red;
    }

    &__teal {
        background: $teal;
        color: #FFF;
    }
}

.no-flt {
    float: none !important;
}

label + input.checkbox {
  cursor: pointer;
}

input.checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 1em;
    vertical-align: middle;
}

.form__input--important {
    background: #222;
    color: #ccc;
}

.cursor-p {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}
