@import url( 'https://fonts.googleapis.com/css?family=Cabin|Rubik');
@import './camps_mobile';
$card-bg: #fafafa;
$green: #24b47e;
$red: #D50000;
$teal: #26A69A;

body {
    font-family: 'Cabin', sans-serif;
}

body[lang='he'] {
    font-family: 'Rubik', sans-serif;
}

body[lang="he"] .dash-panel a:after {
    left: -4px;
}

body[lang="en"] {
    .camps {
        .card {
            padding: 40px 120px 40px 40px;
        }

        .dash-panel a:after {
            left: 4px;
        }
    }
}

section {
    padding: 0 15px;
}

.Btn {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #6772e5;
    text-decoration: none;
    border: 0;
    transition: all 0.15s ease;
    margin: 0 10px 10px;

    &:focus,
    &:hover {
        color: inherit;
        transform: translateY(-3px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    }

    &__sm {
        font-size: 12px;
        margin: 1em;
    }

    &__lg {
        height: 80px;

        &:hover {
            text-decoration: none;
        }
    }

    &__inline {
        margin-top: 22px;
    }

    &__card {
        width: 100%;
        height: 100%;
        margin: 0 0 10px;

        .en {
            float: left;
            max-width: 55px;
            margin: 10px auto;
        }

        .he {
            float: right;
            max-width: 55px;
            margin: 10px auto;
        }

        .title_en {
            margin: 0;
            float: right;
            white-space: normal;
        }

        .title_he {
            margin: 0;
            float: left;
            white-space: normal;
        }

        .arrow_en {
            display: block;
            width: 80%;
            font-size: 34px;
            text-align: right;
            float: right;
        }

        .arrow_he {
            display: block;
            width: 90%;
            font-size: 34px;
            text-align: left;
            float: left;
        }
    }

    &__center {
        margin: 0 auto;
    }

    &__close {
        box-shadow: none;
        background: transparent;

        &:focus,
        &:hover {
            box-shadow: none;
        }
    }

    &__default {
        color: #fff;
        background: #6772e5;

        &:hover {
            background: #7795f8;
        }
    }

    &__green {
        color: #fff;
        background: $green;

        &:hover {
            background: #24b41e;
        }
    }

    &__transparent {
        &:hover {
            color: #7795f8;
        }
    }

    &__is-loading {
        position: relative;
        padding-right: 3em;

        &:after {
            -webkit-animation: spinAround 500ms infinite linear;
            animation: spinAround 500ms infinite linear;
            border: 2px solid #dbdbdb;
            border-radius: 290486px;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 2rem;
            width: 2rem;
            left: 75%;
            margin-top: -11px;
            position: absolute;
            top: 50%;
        }
    }
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

body .dash-panel a:after {
    content: "»";
    padding: 0 5px;
    position: relative;
}

body[lang="he"] .dash-panel a:after {
    left: -4px;
}

body[lang="en"] .dash-panel a:after {
    left: 4px;
}

.camps {
    .controls {
        margin-bottom: 2em;
    }

    .panel {
        h3 {
            text-align: center;
        }
    }

    .card {
        padding: 40px 40px 40px 120px;
        margin-bottom: 2em;
        background-color: $card-bg;
        border-radius: 4px;

        &__shad {
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        }

        &__padding--even {
            padding: 20px !important;
        }

        h2:after {
            content: '';
            display: block;
            width: 50px;
            height: 4px;
            background: #6772e5;
            margin: 15px 0;
        }

        input[name='camp_name_en'] {
            padding-left: 40px;

            &.error {
                border-color: red;
            }
        }

        span.indicator {
            position: absolute;
            top: auto;
            right: auto;
            left: 10px;
            bottom: 4px;

            .glyphicon {
                font-size: 18px;
            }

            .glyphicon-remove {
                color: red;
            }

            .glyphicon-ok {
                color: green;
            }
        }
    }

    input[name='camp_name_en'] {
        padding-left: 40px;

        &.error {
            border-color: red;
        }
    }
}

body[lang="en"] {
    .camps {
        .card {
            input[name='camp_name_en'] {
                padding-left: 12px;
            }

            span.indicator {
                left: auto;
                right: 10px;
            }
        }
    }
}

.multi-select-option {
    margin-top: 3px;

    span {
        margin: 0 3px;
    }
}

.multi-select-option-other {
    input {
        height: 30px;
        margin: 0 3px;
        padding: 2px 5px;
    }
}
// Animations
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes nudge {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}

.anim-bouncy {
    margin-top: 1em;
    animation-name: nudge;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

div#ajax_indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 0;
    display: block;
    z-index: 90192301;
    background-color: #ff7058;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

div#ajax_indicator.done {
    width: 100%;
}

.camps {
    // Card transition
    .cards--wrapper {
        display: block;
        background: $card-bg;
        margin-bottom: 2em;
        position: relative;
        overflow: hidden;

        &:after {
            content: '.';
            display: block;
            visibility: hidden;
        }

        .card {
            width: 100%;
            transition: 300ms;
            position: absolute;
            top: 0;
            left: 0;
        }

        .card.card-hide {
            left: 3000px;
            visibility: hidden;
        }
    }

    .camp_edit {
        textarea {
            max-height: 34px;
            resize: none;
        }

        input,
        textarea {
            margin: 1em 0 1.5em;
            border: 0;
            border-bottom: 3px solid #7795f8;
            border-radius: 0;
            box-shadow: none;

            &:active,
            &:focus {
                box-shadow: none;
            }
        }
    }
}

button.card--close {
    position: absolute;
    top: 10px;
    right: 0;
}

button.card--close--he {
    position: absolute;
    top: 10px;
    left: 0;
}

.input-group {
    margin-bottom: 15px;
}

textarea {
    max-height: 34px;
}

textarea:focus {
    min-height: 100px;
}

.bg {
    &__green {
        background: $green;
    }

    &__red {
        background: $red;
    }

    &__teal {
        background: $teal;
        color: #FFF;
    }
}

.no-flt {
    float: none !important;
}

div[class^=col-xs] {
    padding: 0.5em;
}

input.checkbox {
    height: 20px;
    width: 20px;
}

.form__input--important {
    background: #222;
    color: #ccc;
}