$bg_color: #eee;
$font_color: orange;

body[lang='he'] {
  footer {
    text-align: right;
  }
}

footer {
    background-color: $bg_color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 50px;
    margin-top: 80px;

    .font__mono {
        font-family: monospace;
        direction: ltr;
    }

    img {
        max-width: 45px;
        margin: 0.2em;
    }

    a {
        color: $font_color;
    }

    .footer__links {
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 0.2em 0.5em;
            list-style-type: none;

            a {
                text-decoration: underline;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    footer {
        padding: 1em;
        div {
          margin-bottom: 1em;
        }
        .footer__links {
            li {
            }
        }
    }
}
