@import './ui';
@import './camps';
@import './footer';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

span {
    margin: 0 2px;
}

.container {
    padding: 20px 15px 0;
}

.navbar + .container {
    padding-top: 90px;
}

.midburn_logo {
    background-image: url("../images/midburn_logo_120.png");
    height: 120px;
    width: 89px;
    margin: auto;
}

.form-group.required label:after {
    color: #d00;
    content: " *";
    font-size: larger;
}
/*NAVIGATION*/
.navbar-brand {
    padding-left: 30px;
    background-image: url("../images/spark_logo.png");
    background-repeat: no-repeat;
    background-position: 10px 15px;
}

li.dropdown > ul > li > a > img,
li.dropdown > ul > li > a > span {
    float: right;
}

li.dropdown > ul > li > a > span {
    padding-right: 0.5em;
}
/*FIXING COL (HEB)*/
@media screen and (min-width: 992px) {
    body[lang="he"] div.camps div[class^="col"] {
        float: right;
    }
}

.main {
    display: flex;
    flex: 1;
    padding: 10px;
    background: red;
    justify-content: center;
    align-items: flex-start;

    .card {
        max-width: 540px;
        min-width: 200px;
        padding: 40px;
        border-radius: 5px;
        background: white;
    }
}

.fb-login {
    background: #3b5998;
    border-color: #29487d;

    &:hover {
        background: #2b5998;
    }

    span {
        margin-right: 12px;
        vertical-align: middle;

        &:before {
            font-size: 22px;
        }
    }
}

.langs-wrapper {
    p {
        margin: 0 auto;
        display: table;
    }
}
// bootstrap overrides

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin: 0;
}
