body {
    padding-top: 70px;
}

.midburn_logo {
    background-image: url("../images/midburn_logo_120.png");
    height: 120px;
    width: 89px;
    margin: auto;
}

.form-group.required label:after {
    color: #d00;
    content: " *";
    font-size: larger;
}


/*NAVIGATION*/

.navbar-brand {
    padding-left: 30px;
    background-image: url(../images/spark_logo.png);
    background-repeat: no-repeat;
    background-position: 10px 15px;
}

li.dropdown>ul>li>a>img, li.dropdown>ul>li>a>span {
    float: right;
}

li.dropdown>ul>li>a>span {
    padding-right: 0.5em;
}


/*FIXING COL (HEB)*/

@media screen and (min-width: 992px) {
    body[lang="he"] div.camps div[class^="col"] {
        float: right;
    }
}
