doctype html(lang="he")
head
    meta( http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8' )
body
    div( dir='RTL' )
        span=(`${name}`),
        p
            | על מנת להפעיל את חשבונך יש ללחוץ על הקישור הבא:
            br
            a(href=`${link}`) אימות דואר אלקטרוני
        p
            b קישור זה יהיה פעיל למשך 24 שעות בלבד!
        p
            | בברכה,
            br
            | צוות Midburn IT
