doctype html(lang="he")
head
    meta( http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8' )
body
    div( dir='RTL' )
        | #{name},
        p
        | אנו שמחים על בקשתך לחברות בעמותת מידברן.
        p
        | בקשת החברות שלך נקלטה במערכת וכעת עוברת לאישור הוועד.
        p
        | הטיפול בבקשה יכול לקחת כשבועיים ובסיומו תקבלו אימייל עם הנחיות לתשלום דמי החבר.
        | במידה ולא קיבלתם תשובה בתוך שבועיים, ניתן לפנות באימייל לכתובת&nbsp;
        a(href='mailto:amuta@midburn.org') amuta@midburn.org
        p
        | בברכה,
        br
        | ועד מידברן (ע"ר)
