doctype html(lang="en")
head
    meta( http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8' )
body
    h2 Welcome home, #{name}!
    div( dir='RTL' )
        |
        | בקשתך לקבלה לעמותת מידברן אושרה. על מנת לסיים את תהליך ההרשמה ולהיות חלק מהעמותה, עליך לשלם את דמי החברות השנתיים.
        | לתשלום, יש ללחוץ
            a( href='{{payLink}}' ) כאן
        |
        | בברכה,
        | ועד עמותת מידברן
