doctype html(lang="he")
head
    meta( http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8' )
body
    div( dir='RTL' )
        | #{name},
        p
        | תשלום דמי החברות בעמותת מידברן לשנת
        | #{year}
        | התקבל.
        p
        | תודה רבה על תמיכתך ומעורבותך.
        p
        | בברכה,
        br
        | ועד מידברן (ע"ר)
