doctype html(lang="he")
head
    meta( http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8' )
body
    h3 Welcome home,
    div( dir='RTL' )
        | #{name},
        p
        | בקשתך לחברות בעמותת מידברן אושרה. על מנת לסיים את תהליך ההרשמה ולהיות חלק מהעמותה, עליך לשלם את דמי החברות השנתיים.
        | לתשלום, יש ללחוץ
        a( href='#{payLink}' ) כאן
        p
        | בברכה,
        br
        | ועד מידברן (ע"ר)
