html
body
    h1 Welcome developers!
    div(style="display: flex;  margin-top: 20px;") 
        a( href="/dev/create-admin" ) Create admin user. (user=a, pass=a)
    div(style="display: flex;  margin-top: 20px;")
        a( href="/dev/view-debug/" ) View Debugger
    div(style="display: flex;  margin-top: 20px;")
        a( href="/dev/load-dummy-data/" ) Load Dummy Data
