html
body
    div(style="display: flex; margin-top: 20px; margin-bottom: 20px; ")
        button(onclick="location.href = '/dev/'")="Back to Developer Dashboard"
    div(style="display: flex; flex-direction: column; ")
        span View
        input#page(type="text")
        span Parameters ():
        textarea#params(rows="10")
        button(onclick="location.href = '/dev/view-debug/' + document.querySelector('#page').value + '/?params=' + document.querySelector('#params').value")="Submit"
