extends ../../includes/page
block content 
    h1= title
    form.container(action="/en/suppliers/new", method="post")
        div.form-group
            input.form-control(type="text",  placeholder="שם" name="supplier_name_en",required)
        div.form-group
            input.form-control(name="supplier_id",placeholder="ח.פ" cols="40", rows="5",required)
        div.form-group
            input.btn.btn-primary(type="submit", value="go" name)
        input(type="hidden", name="supplier_name_he" value="empty")
        input(type="hidden", name="main_contact_name" value="empty")
        input(type="hidden", name="main_contact_phone_number" value=1)
        input(type="hidden", name="supplier_category" value=0)
        input(type="hidden", name="supplier_website_link" value="empty")
        input(type="hidden", name="supplier_midmarket_link" value="empty")
        input(type="hidden", name="comments" value="empty")