extends ../includes/layout

block wrapper
    .errors(style="text-align:center;padding:5em 5em 0 5em;")
        h1 MOOP!
        h3 sorry. something went wrong :-(
        a(href='/') go home
        a(style='cursor:pointer;margin-left:10px;', onclick='window.history.back();') previous page
        a(style='cursor:pointer;margin-left:10px;', onclick="$('.errors-detailed').toggleClass('hidden')", data-toggle="tooltip", title="if you dare!") see errors
    .hidden.errors-detailed(style="direction:ltr;text-align:left;padding:0 5em;")
        h4=errorMessage
        h4=error.status
        pre=(`${error.stack}`)
