extends ../includes/layout
block wrapper
    br
    div( class='col-md-3 col-md-offset-4 well' )
        span( class="fa fa-sign-in" )

            h1 Welcome to Spark!
            h2 Login

            if (errorMessage && errorMessage.length > 0)
                div( class="alert alert-danger" )
                    p=errorMessage

            form( action="/login", method="post" )
                input( type="hidden", name="r", value=r )
                div( class="form-group" )
                    label Email
                    input( type="text", class="form-control", name="email" )
                div( class="form-group" )
                    label Password
                    input( type="password", class="form-control", name="password" )
                div( class="form-group")
                    input( type="checkbox", name="remember")
                    label &nbsp;Remember Me
                button( type="submit", class="btn btn-info" ) Login
                a( href="/reset_password" )
                    span( class="fa fa-user") &nbsp;Forgot you password?
            br
            p Need an account? &nbsp;
                a( href="/signup", class="btn btn-default" )
                    span( class="fa fa-user") Sign Up


