extends ../includes/layout
block wrapper
    div( class='col-sm-6 col-sm-offset-3' )
        span( class="fa fa-sign-in" )
            h1 Reset Password
            if (errorMessage && errorMessage.length > 0)
                div( class="alert alert-danger" )
                    p=errorMessage
            form( action="/reset_password", method="post" )
                div( class="form-group" )
                label Email
                input( type="text", class="form-control", name="email" )
                button( type="submit", class="btn btn-warning btn-lg" ) Reset Password
