table.table.table-striped.table-hover
  thead
    tr
      th(ng-click='changeOrderBy("id")') #
      th(ng-click='changeOrderBy("name")') Name
      if userIs('admin')
          th(ng-click='changeOrderBy("email")') Email
      th(ng-click='changeOrderBy("phone")') Phone
      if userIs('admin')
          th(ng-click='changeOrderBy("status")') Status
      if userIs('admin')
          th(ng-click='changeOrderBy("hasTicket")') Has Ticket
      th(ng-click='changeOrderBy("earlyArrival")') Early Arrival
  tbody
    tr(ng-repeat="member in members | filter: searchMembers | orderBy: orderMembers")
      td {{member.user.user_id}}
      td {{[member.user.first_name, member.user.last_name].join(' ')}}
      if userIs('admin')
          td {{member.user.email}}
      td {{member.user.cell_phone}}
      if userIs('admin')
          td
              span.label(ng-class="member.status === 'approved' ? 'label-success':'label-default'") {{member.status}}
      if userIs('admin')
          td {{member.user.hasTicket ? 'yes':'no'}}
      td {{member.user.earlyArrival ? 'yes':'no'}}
